body{
    background-image: url(./Public/DOGE12.jpg);
    background-size: cover;

}
.carousel, .carousel-inner > .item > img {
    height: 200px; width: 300px;
    border : 5px groove salmon
  }
  h1 {color: rgb(0, 0, 0);
    font-family: initial;
    text-shadow: 5px -1px 0 rgb(255, 255, 255);
    text-transform: lowercase;

    
    
}
  .gif { float: right; width:200px ;
border: groove salmon;
}
  
.center {
    display: inline-flexbox;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    border : 5px groove salmon

   





    
    
    
    

}
p { 
    font-size: large;
    font-family: initial;
    
}
li {
    font-size: large;
    font-family: initial
}
  




