body{
    background-image: url(./Public/DOGE12.jpg);
    background-size: cover;
    

}
.carousel, .carousel-inner > .item > img {
    height: 200px; 
    width: 300px;
    border : 3px groove rgb(187, 137, 228);
    margin: auto;
    
  }
  h1 {color: rgb(0, 0, 0);
    font-family: initial;
    text-shadow: -2px 5px 4px rgba(0,0,0,0.59);
    text-transform: lowercase;

    
    
}
  .gif { float: right; width:200px ;
   border: 3px groove rgb(187, 137, 228) ;
margin-right: 100px;
}
  
.center {
    display: inline-flexbox;
    margin-left: 50px;
    margin-right: auto;
    width: 140px;
    height: 140px;
    border : 3px groove rgb(187, 137, 228)

   





    
    
    
    

}
p { 
    font-size: large;
   
    
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 19px;
    letter-spacing: -0.6px;
     word-spacing: 1.2px;
     color: #000000;
        font-weight: 700;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: italic;
        font-variant: small-caps;
        text-transform: none;
        margin-left: 20px;
        }
    

li {
    
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 19px;
    letter-spacing: -0.6px;
     word-spacing: 1.2px;
     color: #000000;
        font-weight: 700;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: italic;
        font-variant: small-caps;
        text-transform: none;
        margin-left: 20px;
}
.myButton {
    color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 9px; border-radius: 8px; font-family: Tahoma, Geneva, sans-serif; font-weight: 700; text-decoration: none solid rgb(68, 68, 68); font-style: italic; font-variant: small-caps; text-transform: none; background-image: radial-gradient(at center center, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 43%, rgb(0, 0, 0) 100%); box-shadow: rgba(0, 0, 0, 0) 28px -70px 2px 8px; border: 0px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #000000; }
    .myButton:active {
    background: #000000; }
 .fa-brands {
    margin-left: 30px;
 }
 .fa-instagram{
    margin-left: 30px;
 }
 .fa-beat-fade {
    margin-left: 30px;
 }
 .center2 {
    display: inline-flexbox;
    margin-left: 350px;
    width: 140px;
    height: 140px;
    border : 3px groove rgb(187, 137, 228)
    
 }

    
      
    
  




